@font-face {
 font-family: 'Montserrat-Regular';
 src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
 font-family: 'FontAwesome';
 src: url('../fonts/FontAwesome.otf');
}

@font-face {
    font-family: 'DosisBold';
    src: url('../fonts/dosis-bold.eot');
    src: url('../fonts/dosis-bold.eot') format('embedded-opentype'),
         url('../fonts/dosis-bold.woff2') format('woff2'),
         url('../fonts/dosis-bold.woff') format('woff'),
         url('../fonts/dosis-bold.ttf') format('truetype'),
         url('../fonts/dosis-bold.svg#DosisBold') format('svg');
}
.alert-success {
    float: left;
    width: 100%;
}
/* ========================= Top  Header Section End ============================== */

#navbar {
	float: left;
    width: 100%;
    background: #27da93 none repeat scroll 0 0;
    border: none;
    margin-bottom: 0px;
}
.navbar-nav > li > a {
    padding: 15px 30px 15px 30px;
    color: #fff!important;
    font-size: 1em;
    font-family: 'Montserrat-Regular';
}

.navbar-nav > li > a > i.fa-home {
    font-size: 32px!important;
    width: 30px;
    margin: 0 auto;
    display: block;
}
.navbar-nav > li > a > i.fa-user {
    font-size: 32px!important;
    width: 25px;
    margin: 0 auto;
    display: block;
}
.navbar-nav > li > a > i.fa-building {
    font-size: 32px!important;
    width: 26px;
    margin: 0 auto;
    display: block;
}
.navbar-nav > li > a > i.fa-map-marker {
    font-size: 32px!important;
    width: 20px;
    margin: 0 auto;
    display: block;
}

.top-header .logo i {
    font-size: 34px;
    color: #000000;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
	background-color: #000000!important;
	color: #fff!important;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #fff!important;
    color: #919090!important;
}

.navbar-default .navbar-nav > li a i.home-loans {
    width: 32px;
    height: 32px;
    background: url(../images/img-sprite.png) no-repeat -178px -39px;
    display: block;
    margin: 0 auto;
}

.navbar-default .navbar-nav > li a i.dealers {
    width: 32px;
    height: 32px;
    background: url(../images/img-sprite.png) no-repeat -248px -39px;
    display: block;
    margin: 0 auto;
}

.navbar-default .navbar-nav > li a i.projects {
    width: 32px;
    height: 32px;
    background: url(../images/img-sprite.png) no-repeat -212px -39px;
    display: block;
    margin: 0 auto;
}

.navbar-default .navbar-nav > li a i.resale {
    width: 32px;
    height: 32px;
    background: url(../images/img-sprite.png) no-repeat -142px -39px;
    display: block;
    margin: 0 auto;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #000000!important;
	color: #fff!important;
}

.navbar-default ul.secondary li a {
	padding-bottom: 31px;
	padding-top: 31px;
	text-transform: uppercase;
	background-color: #000!important;
	color: #fff!important;
}

.navbar-default ul.secondary li.active a {
	background-color: #000!important;
	color: #fff!important;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
    background-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar:hover,
.navbar-default .navbar-toggle .icon-bar:focus,
.navbar-default .navbar-toggle .icon-bar:active {
    background-color: #000;
}

.top-header, .left-top-header, .right-top-header{
    float: left;
    width: 100%;
    padding: 10px 0;
}
.top-header .left-top-header .top-contact-number p i,
.top-header .right-top-header .top-contact-address p i {
    border: 1px solid #ababab;
    border-radius: 100px;
    color: #27DA93;
    display: block;
    font-size: 20px;
    height: 36px;
    margin-top: 2px;
    padding-top: 7px;
    text-align: center;
    width: 36px;
    margin-right: 10px !important;
}

.top-header .left-top-header .top-contact-number p span.phone,
.top-header .right-top-header .top-contact-address p span.address-title {
	font-weight: bold;
    font-family: DosisBold;
}

.top-header .left-top-header .top-site-logo a.name {
    font-size: 28px;
    font-family: DosisBold;
    text-transform: uppercase;
    color: #27DA93;
    padding: 15px 0px;
}

.top-header .left-top-header .top-site-logo a.name:hover {
	color: #000000;
}

.top-header .left-top-header .top-contact-number p,
.top-header .right-top-header .top-contact-address p {
    width: 190px;
    margin: 5px auto 0 auto;
}
.top-header .right-top-header .top-social-icon.icon-one {
    float: right;
}
.top-header .right-top-header .top-social-icon ul {
	margin-bottom: 0px;
	padding: 13px;
}
.top-header .right-top-header .top-social-icon ul li a i {
	font-size: 20px;
	color: #27DA93;
}
.top-header .right-top-header .top-social-icon ul li a i:hover {
	color: #000000;
}    

.number-two, .icon-two {
	display: none;
} 
/* ========================= Top  Header Section End ============================== */

/* ========================= Main Property Slider Start ============================== */
.main-banner {
    width: 100%;
    float: left;    
}

.main-banner .view-main-property-slider .slides .views-field-body {
    float: left;
    position: absolute;
    bottom: 5px;
    left: 15px;
    color: white;
}

.main-banner .view-main-property-slider .flex-control-nav {;
    bottom: 15px;
    z-index: 2;
}

.main-banner .view-main-property-slider .flex-control-paging li a {
    background: transparent;
    box-shadow: none;
    border: 2px solid #fff;
}

.main-banner .view-main-property-slider .flex-control-paging li a.flex-active {
    background: #ffffff;
}
.main-banner .view-main-property-slider .flex-direction-nav {
    display: none;
}
/* ========================= Main Property Slider End ============================== */

/*========================== Main Content Start =================================== */

.content-start {
	width: 100%;
	float: left;
}

/*========================== Main Content End ===================================== */

/*========================== Footer Start =================================== */
#footer-wrapper {
    background: url(../images/pattern_bg.jpg) repeat left top;
    float: left;
    width: 100%;
}

.footer {
	width: 100%;
	float: left;
    margin-top: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer .footer-logo p {
    margin: 0;
    color: #fff;
    font-family: DosisBold;
    text-transform: uppercase;
    font-size: 30px;
}
.footer .footer-class {
    padding: 11px 0;
    text-align: right;
}

.footer .footer-class p {
    color: #797979;
}
.footer .footer-class p a {
    color: #797979;
}
.footer .footer-class p a:hover {
    color: #fff;
    text-decoration: none;
}

/*========================== Footer End ===================================== */


/* ========================= Responsiv Screen Style Start ========================= */

@media only screen and (max-width: 1199px) {
	.top-header .left-top-header .top-site-logo a.name {
		font-size: 20px;
	}
}

@media only screen and (max-width: 991px) {
	.top-header .left-top-header .top-site-logo {
	    margin: 0 auto;
	    width: 51%;
	}
	.number-one, .icon-one {
		display: none;
	}
	.number-two, .icon-two {
		display: block;
	}
	.top-header .left-top-header .top-social-icon ul {
		margin-bottom: 0px;
		padding: 15px;
	}
	.top-header .left-top-header .top-social-icon ul li a i {
		font-size: 18px;
		color: #27DA93;
	}
	.top-header .left-top-header .top-social-icon ul li a i:hover {
		color: #000000;
	} 
	.top-header .right-top-header .top-contact-number p i {
	    border: 1px solid #ababab;
	    border-radius: 100px;
	    color: #27DA93;
	    display: block;
	    font-size: 20px;
	    height: 36px;
	    margin-top: 2px;
	    padding-top: 7px;
	    text-align: center;
	    width: 36px;
	    margin-right: 10px !important;
	}
	.top-header .right-top-header {
    	text-align: left;
	}

	.top-header .left-top-header .top-social-icon ul {
	    text-align: center;
	}

	.top-header .right-top-header .top-contact-number p {
	    margin: 5px auto 0;
	    width: 190px;
	    box-shadow: 1px 5px 10px #27DA93;
	}
	.top-header .right-top-header .top-contact-address p {
		box-shadow: 1px 5px 10px #27DA93;
	}
	.top-header .right-top-header .top-contact-number p span.phone {
    	font-weight: bold;
	}
}

@media only screen and (max-width: 767px) {
	.top-header .left-top-header .top-site-logo {
	    margin: 0 auto;
	    width: 175px;
	}
	.top-social-icon.icon-two {
	    float: left;
	    width: 100%;
	}
	.navbar-default .navbar-nav > li a i {
		float: left;
		display: none;
	}
	.navbar-nav {
    	margin: 0px;
	}	
	.navbar-default ul.secondary li a {
	    padding-bottom: 15px;
	    padding-top: 15px;
	}
	.navbar-default ul.secondary {
		float: left;
		width: 100%;
	}	
	.navbar-default ul.secondary li.active a {
	    background-color: #000!important;
	    color: #fff!important;
	}

    .main-banner .view-main-property-slider .flex-control-nav {;
        bottom: -30px;
        z-index: 2;
    }

    .main-banner .view-main-property-slider .flex-control-paging li a {
        background: transparent;
        box-shadow: none;
        border: 2px solid #000000;
    }

    .main-banner .view-main-property-slider .flex-control-paging li a.flex-active {
        background: #000000;
    }
    .main-banner .view-main-property-slider .slides .views-field-body {
        bottom: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        padding: 5px 0;
        background: rgba(0, 0, 0, 0.6);
    }
    .footer .footer-logo, .footer .footer-class {
        text-align: center;
    }
}

/* ========================= Responsiv Screen Style End ========================= */